.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;

  background-color: #36279c;
  color: white;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.contactList {
  display: flex;
  justify-content: center;
}

.btnList {
  min-width: 120px;
  background-color: #8ea32e;
  margin-left: 10px;
  border-radius: 4px;
  border: none;
}

.table {
  border: solid 1px black;
}

.enter {
  opacity: 0;
  transform: scale(0.1);
}

.enterActive {
  opacity: 1;
  transform: scale(1);
  transition: all 250ms linear;
}
.exit {
  opacity: 1;
  transform: scale(1);
}

.exitActive {
  opacity: 0;
  transform: scale(0.1);
  transition: all 250ms linear;
}
